/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * CSS file: for jaxx.io the official website for jaxx liberty, the leading Multi-Platform Wallet created by Anthony Di Iorio, Co-Founder of Ethereum and Founder and CEO of Decentral and Jaxx.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    background: black;
	font-family: 'Helvetica Neue', Avenir, Helvetica, sans-serif;
	overflow-x: hidden;
    max-width: 1500px;
    margin: auto;
	width: 100%;
}
/* links */

a,
a:active,
a:focus,
a:visited {
	color: inherit;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
a:hover {
	color: #ff6902;
	text-decoration: none;
}
footer a:hover {
	color: rgb(38, 65, 118);
	text-decoration: none;
}

/* height + width utilities */

.min-25 {
	min-height: 25vh;
}
.min-50 {
	min-height: 50vh;
}
.min-70 {
	height: 70vh;
}
.min-100 {
	min-height: 100vh;
}

.min-300 {
    min-height: 300px;
}
.min-400 {
    min-height: 400px;
}
.min-500 {
    min-height: 500px;
}
.min-700-lg {
    min-height: 700px;
}
.w-50-sm {
	width: 50%;
}

/*  buttons */

.btn,
.btn-default,
.btn-lg {
    border-radius: 23px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.btn-orange,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:visited {
	background: #ff6902;
border: 1px solid #ff6902;
	color: white;
	font-weight: bold;
}
.btn-orange:hover {
	background: transparent;
	border: 1px solid #ff6902;
	color: #ff6902;
}
.btn-outline-orange,
.btn-outline-orange:active,
.btn-outline-orange:focus,
.btn-outline-orange:visited {
	background: transparent;
	border: 1px solid #ff6902;
	color: #ff6902;
}
.btn-outline-orange:hover {
	background: #ff6902;
	border: 1px solid #ff6902;
	color: #fff;
}
.btn-navy,
.btn-navy:active,
.btn-navy:focus,
.btn-navy:visited {
	background: rgb(38, 66, 119);
	border: 1px solid rgb(38, 66, 119);
	color: white;
	font-weight: bold;
}
.btn-navy:hover {
	background: transparent;
	border: 1px solid rgb(38, 66, 119);
	color: rgb(38, 66, 119);
}

/* borders */

.border-navy {
	border-color: rgb(38, 66, 119) !important;
}
.border-orange {
	border-color: #ff6902 !important;
}
.border-grey {
	border-color: lightgrey !important;
}
.rounded-right-top {
    border-radius: 0 40px 0 0;
}

/* text */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, p, button, .btn {
	font-family: 'Helvetica Neue', Avenir, sans-serif;
}
.h1 {
    letter-spacing: -2px;
    line-height: 90%;
}
p {
	font-size: 19px;
	font-weight: 400;
}
.p-big {
    font-size: 21px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
}
.p-btn {
    color: #ff6902;
    font-size: 24px;
    line-height: 1.38105;
    font-weight: 400;
    letter-spacing: .011em;
    transition: all .2s ease;
}
.p-btn:hover {
    color: #ff6902;
    text-decoration: underline;
}
.site-title {
	font-size: 10vmin;
	font-size: 64px; /*apple ipad text*/
/*	font-size: 54px; */
    /*apple homepod gradient text*/
	font-weight: 600;
	line-height: 100%;
    letter-spacing: -2px;
    padding: 10px 0;
}
.site-title-big {
    font-size: 80px; /*apple app store text*/
    font-size: 11vmin; /*same in vmin*/
    font-weight: 900;
    line-height: 100%;
    letter-spacing: -2px;
    padding: 10px 0;
}
.page-title {
    color: #000;
	font-size: 56px;
	font-size: 64px;
	font-weight: 900;
	line-height: 90%;
    letter-spacing: -2px;
    padding: 10px 0;
}
.section-title {
    color: #000;
    line-height: 100%;
    letter-spacing: -2px;
    font-size: 48px;
    font-weight: 900;
    padding: 8px 0;
}
.section-title-text {
    font-weight: 500;
}
.word-break {
	word-break: break-all;
}

/* fonts + text effects */

.knockout-site-title {
    color: #000;
     -webkit-text-fill-color: transparent;
     background: -webkit-linear-gradient(transparent, transparent),
                 url(https://images.unsplash.com/photo-1518656291-ba160b5554e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80) center;
     background: -o-linear-gradient(transparent, transparent);
    background-size: cover;
     -webkit-background-clip: text;
}
.knockout-about {
    color: #000;
     -webkit-text-fill-color: transparent;
     background: -webkit-linear-gradient(transparent, transparent),
                 url(https://images.pexels.com/photos/1292843/pexels-photo-1292843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
     background: -o-linear-gradient(transparent, transparent);
    background-size: cover;
     -webkit-background-clip: text;
}
.knockout-jaxx {
    color: #000;
     -webkit-text-fill-color: transparent;
     background: -webkit-linear-gradient(transparent, transparent),
                 url(https://images.pexels.com/photos/1328891/pexels-photo-1328891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
     background: -o-linear-gradient(transparent, transparent);
    background-size: cover;
     -webkit-background-clip: text;
}

.knockout-gradient {
    color: #000;
     -webkit-text-fill-color: transparent;
     background: linear-gradient(to right, #f5af19, #f12711);
     background: -o-linear-gradient(transparent, transparent);
    background-size: cover;
     -webkit-background-clip: text;
}
.knockout-blue {
    color: #000;
     -webkit-text-fill-color: transparent;
     background: linear-gradient(to right, #2F80ED, #56CCF2);
     background: -o-linear-gradient(transparent, transparent);
    background-size: cover;
     -webkit-background-clip: text;
}

.knockout-heart {
    color: grey;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
                 url(/assets/img/Jaxx_Primary_Icon.png) center 30% repeat;
    background: -o-linear-gradient(transparent, transparent);
    background-size: 200%;
    -webkit-background-clip: text;
    padding: 5px 0 10px;
/*    background: url(/assets/img/Jaxx_Primary_Icon.png);*/
}

.line-height {
	line-height: 80%;
}
.op-5 {
	opacity: 0.5;
}

/* drop shadow */

.ds {
    filter: drop-shadow(8px 8px 10px gray);
}
.ds-big {
     filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}
.ds-black {
     filter: drop-shadow(3px 3px 5px #000);
}
.ds-white {
     filter: drop-shadow(3px 3px 5px #000);
    filter: drop-shadow(3px 3px 10px rgba(255,255,255,0.5));
}
.ds-orange {
     filter: drop-shadow(3px 3px 5px orange);
}
.ts {
    text-shadow: 2px 2px 10px #444;
}
.ts-title {
    text-shadow: 1px 1px #000, 
                2px 2px #000, 
                3px 3px #000, 
                4px 4px #000, 
                5px 5px #000, 
                6px 6px #000;
}

/*brightness filter */


.filter-dark {
    filter: brightness(80%);
}

/*text stroke*/

.stroke-n {
	color: transparent;
	-webkit-text-stroke: 1px rgb(38, 65, 118);
}
.stroke-o {
	color: transparent;
	-webkit-text-stroke: 0.5px #ff6902;
	-webkit-text-stroke: 0.5px rgba(255, 105, 2, 0.5);
}
.stroke-b {
	color: transparent;
	-webkit-text-stroke: 0.5px #000;
	-webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}
.hr-big {
    height: 6px;
    width: 70px;
}

/* position */

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.top-0 {
	top: 0;
}
.top-100 {
	top: 100px;
}
.right-0 {
	right: 0;
}
.left-0 {
	left: 0;
}
.bottom-0 {
	bottom: 0;
}
.z--1 {
	z-index: -1;
}
.z-0 {
	z-index: 0;
}
.z-1 {
	z-index: 1;
}
.z-2 {
	z-index: 2;
}
/* animation ===================*/

.animated-slow {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

/*SWUP transition animations*/


/*fade*/
.transition-fade {
    transition: .4s;
    transition-timing-function: ease-in-out;
    opacity: 1;
}
.is-animating .transition-fade {
    opacity: 0;
}
/*fade-down*/
.down {
    transition: 1s;
    transform: translateY(0);
}
.is-animating .down {
    transform: translateY(-100px);
}

/*fade right*/
.right {
    transition: 1s;
    transform: translateX(0);
}
.is-animating .right {
    transform: translateX(-100px);
}

.right-slow {
    transition: 2s;
}

/*fade left*/
.left {
    transition: 1s;
    transform: translateX(0);
}
.is-animating .left {
    transform: translateX(100px);
}

/*left variations*/
.left-med {
    transition: 1.5s;
}
.left-slow {
    transition: 2s;
}

/*fade-up*/
.up {
    transition: 1s;
    transform: translateY(0);
}
.is-animating .up {
    transform: translateY(100px);
}
/*up variations*/
.up-med {
    transition: 1.5s;
}
.up-slow {
    transition: 2s;
}

/*med variations*/
.right-med, 
.left-med, 
.up-med, 
.down-med {
    transition: 1.5s;
}
/*slow variations*/
.right-slow, 
.left-slow, 
.up-slow, 
.down-slow {
    transition: 2s;
}




/* colors ===================*/

.orange {
	color: #ff6902 !important;
}
.navy {
	color: rgb(38, 65, 118);
	color: rgb(38, 66, 119);
	/* from style guide */
}
/* bg colors ======================*/

.bg-orange {
	background-color: #ff6902 !important;
}
.bg-orange-op {
	background-color: rgba(255, 105, 2, 0.5);
}
.bg-orange-gradient {
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
/*    background: linear-gradient(to right, #ff6902, #f12711);*/
    background: linear-gradient(to right, #f5af19, #f12711);
}
.bg-navy-gradient {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4286f4, rgb(38, 66, 119)); 
}
.bg-blue-gradient {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}
.bg-navy {
	background-color: rgb(38, 65, 118);
	background-color: rgb(38, 66, 119);
}
.bg-lightblue {
	background-color: lightblue !important;
}
.bg-slategray {
    background: lightslategray;
}
.bg-steelblue {
    background: lightsteelblue;
}
.bg-pink {
    background: lightpink;
}
.bg-lightgrey {
	background-color: #CCCCCC !important;
	background-color: #f2f2f2 !important;
}
.bg-white-op {
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
}
.bg-black {
	background: #000;
}

.bg-light-grey {
	background-color: rgba(0, 0, 0, 0.1);
}

/* effects */

.skew {
	-webkit-transform: skew(0, -4.7deg);
	transform: skew(0, -4.7deg);
}

/* images + logos ======================*/

.img {
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}
.img-full {
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
}

.banner-img {
    height: auto;
    width: 75%;    
}

/*lazy loading classes*/

img {
  opacity: 0;
  transition: opacity .5s ease-in;
}

img.lazy-loaded {
    opacity: 1;
} 

footer img,
img.decentral-navbar-brand {
    opacity: 1;
}


/* decentral logo ======================*/

.decentral-navbar-brand {
	height: auto;
	margin: 0 0 0 10px;
	width: 185px;
}
.decentral-mobile-menu {
	height: auto;
	width: 40px;
}
.decentral-logo-jumbo {
	height: auto;
	margin-bottom: -20px;
	width: 20vw;
}
.decentral-logo,
.decentral-heart-logo {
	height: auto;
	width: 500px;
}
/* page/section images */

/*===== Home ======*/

.banner-right {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
.banner-left {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.bg--home-banner {
    background: url(https://images.unsplash.com/photo-1485844254435-b7509760a25c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center;
    background-size: cover;
}
.bg--home-banner-2 {
    background: url(https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1045&q=80) center;
    background-size: cover;
}
.bg--home-banner-3 {
    background: url(https://images.unsplash.com/photo-1520188740392-665a13f453fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80) center;
    background-size: cover;
}
.bg--home-banner-4 {
    background: url(https://images.unsplash.com/photo-1490822239899-bc196b6f19f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1088&q=80) center;
    background-size: cover;
}
.bg--home-banner-5 {
    background: url(https://images.unsplash.com/photo-1512551980832-13df02babc9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80) center;
    background-size: cover;
}

.bg--home-anthony {
	background: url(https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iAYI6oSYfeEE/v0/-1x-1.jpg) center;
	background-size: cover;
}
.bg--home-skyline {
	background: url(https://images.pexels.com/photos/1519088/pexels-photo-1519088.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center;
	background-size: cover;
}
.bg--home-building {
	background: url(https://images.unsplash.com/photo-1534024669648-7183524c6fbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80) center top;
	background-size: cover;
}

.bg--home-group {
	background: url(/assets/img/jaxx-group-people.jpg) center left;
	background-size: cover;
}
.bg--home-ipad {
	background: url(/assets/img/jaxx-clay-iphone-ipad-myjaxx.png) center;
	background-size: cover;
    filter: drop-shadow(8px 8px 15px darkgrey);
}
.bg--home-imac {
	background: url(/assets/img/jaxx-imac-white-2.jpg) center;
	background-size: cover;
}
.bg--home-dude {
	background: url(/assets/img/jaxx-iphone-6-showoff.png) center;
	background-size: contain;
        filter: drop-shadow(8px 8px 15px black);
}
.bg--home-hand {
	background: url(/assets/img/jaxx-android-girl-hand.png) center;
	background-size: cover;
}

.bg--home-devices {
	background: url(/assets/img/jaxx-iphones-white-mockup-screens.jpg) center right;
	background-size: cover;
}
.bg--home-girl {
	background: url(/assets/img/jaxx-iphone-tat-girl-crowd-photo.jpg) center;
	background-size: cover;
}
.bg--home-city {
    background: url(https://images.unsplash.com/photo-1496683174592-796fdff97407?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80) center; /*hooters aerial*/
    background: url(https://images.unsplash.com/photo-1505318650824-d27732836a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80) center;
    background-size: cover;
}
.bg--home-platform {
	background: url(/assets/img/jaxx-iphone-on-macbook.jpg) center;
	background: url(/assets/img/jaxx-iphone-white-mockup-port.jpg) center;
	background: url(/assets/img/jaxx-iphone-isometric-gallery.png) center;
	background-size: cover;
}
.bg--home-platform-2 {
	background: url(/assets/img/jaxx-clay-iphone-ipad-trans.png) center;
	background: url(/assets/img/jaxx-clay-iphone-ipad-myjaxx.png) center;
	background-size: cover;
    filter: drop-shadow(8px 8px 15px grey);
}
.bg--home-testimonials {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/img/jaxx-testimonials.jpeg) center;
	background-size: cover;
}
.bg--home-testimonials-carousel {
	background: url(https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&auto=format&fit=crop&w=635&q=80) center;
	background-size: cover;
}
.bg--home-community {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(/assets/img/jaxx-support-welcome-redux.jpg) center;
	background-size: cover;
}
.bg--home-friends {
	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(/assets/img/jaxx-friends.jpg) center;
	background-size: cover;
}
.bg--home-support {
	background: url(/assets/img/jaxx-support-jump.jpeg) center;
	background-size: cover;
}
.bg--home-assets {
	background: url(/assets/img/jaxx-3-screens.png) center;
	background: url(/assets/img/jaxx-android-multiscreen.png) center;
	background-size: cover;
}
.bg--home-social {
	background: url(https://images.unsplash.com/photo-1442504028989-ab58b5f29a4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center top;
	background-size: cover;
}
.bg--home-download {
	background: url(/assets/img/jaxx-couple-fireworks.jpg) center;
	background-size: cover;
}
.bg--home-laptop-hands {
	background: url(/assets/img/jaxx-laptop-hands.jpg) center;
	background-size: cover;
}

/* home styles */

.card-deck .card {
    margin-bottom: 15px;
}
#testimonials .card-deck p {
    font-size: 17px;
    font-style: italic;
}

@media (max-width: 992px) {
#testimonials .card-deck {
    -ms-flex-flow: column;
    flex-flow: column;
    }
}

@media (max-width: 768px) {
.card-deck {
    -ms-flex-flow: column;
    flex-flow: column;
    }
}

/*features column count*/
.columns {
    column-count: 3;
    column-gap: 10px;
    margin: 0 0 10px;
    padding: 20px 20px 0;
}

/*features page columns*/
.columns--features {
    column-count: 3;
}
.columns--features li {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin-bottom: 10px;
}
.columns li {
    border-radius: 5px;
    -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
    padding: 30px;
}

/*  downloads modals */

.modal-content {
     border: 10px solid lightgrey;
     border-radius: 0; 
}

.modal.fade {
	-webkit-transition: opacity .5s linear, top .5s ease-out;
	transition: opacity .5s linear, top .5s ease-out;
}
/*or add fade-scale class*/

.fade-scale {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}
.fade-scale.in {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* cookies consent banner ======================*/

.cc-message, .cc-btn {
	font-family: 'Helvetica Neue', Helvetica, Avenir, sans-serif;
	font-size: 16px;
}
.cc-message a,
.cc-link {
	color: #ff6902;
}
.cc-window {
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
.cc-window.cc-invisible {
    opacity: 0;
}
.cc-revoke.cc-top {
    display: none;
    top: 0;
    left: 3em;
    border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
.cc-revoke.cc-bottom {
    display: none;
      bottom: 0;
      left: 3em;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
    }
.cc-revoke.cc-left {
    display: none;
      left: 3em;
      right: unset;
    }
.cc-revoke.cc-right {
    display: none;
    right: 3em;
    left: unset;
}

/*  about page ======================*/

.bg--about-banner {
    background: url(https://images.unsplash.com/photo-1524439654840-b12734d89414?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center;
    background-size: cover;
}
.bg--about-banner-toronto {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/assets/img/jaxx-people-2.jpg) center 20%;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/1292843/pexels-photo-1292843.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
	background-size: cover;
}

.bg--about-girl {
    background: url(/assets/img/jaxx-community-banner.jpg) center;
	background-size: cover;
}
.bg--about-jaxx {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://news.bitcoin.com/wp-content/uploads/2016/08/Apple-Tells-Jaxx-To-Remove-Dashpay.jpg) center;
    background-size: cover;
}
.bg--about-jump {
	background: url(/assets/img/jaxx-jump-2-redux.jpg) center;
	background-size: cover;
}

.bg--about-liberty {
	background: url(/assets/img/jaxx-multi-device-2-pair.jpg) center;
	background-size: cover;
}
.bg--about-city {
	background: url(https://images.pexels.com/photos/830891/pexels-photo-830891.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) center;
	background-size: cover;
}
.bg--about-office {
	background: url(/assets/img/jaxx-careers-office.jpg) center;
	background-size: cover;
}
.bg-img-office-2 {
	background: url(/assets/img/decentral-office-original-redux.jpg) center;
	background-size: cover;
}

/* jaxx liberty ======================*/

.bg--jaxx-banner {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/img/jaxx-2-people-selfie.jpeg) center;
	background-size: cover;
}
.bg--jaxx-security {
	background: url(/assets/img/jaxx-security-phone-angle-top.png) center;
	background-size: cover;
}

/* partnerships ======================*/

.bg--partnerships-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1504211910536-32e00cbd7cbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80) center top;
	background-size: cover;
}
.bg--anthony-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/img/decentral-anthony-sepia.jpg) center;
    background-size: cover;
}
.bg--partnerships-jaxx {
    background: url(/assets/img/jaxx-macbook-off-canvas-left.jpg) center;
    background: url(/assets/img/jaxx-iphone-X-left-grey-bg.jpg) center;
    background-size: cover;
}
.bg--partnerships-passion {
	background: url(/assets/img/jaxx-about-passion-redux.jpg) center;
	background-size: cover;
}

/* history timeline ======================*/

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
/*  color: rgba(0, 0, 0, 0.7);*/
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.timeline-item p:first-of-type {
    padding: 10px 0;
    margin-bottom: 5px;
}

.timeline-item::before {
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
    color: #ff6902;    
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: 900;
    top: 1em;
    top: 0.5em;
    display: block;
    font-size: .785rem;
    font-size: 18px;
    }
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

/*shapes ==================*/

.shape {
    position: absolute;
    z-index: 0;
}
.rect-left {
    height: 600px;
    width: 90%;
    border-radius: 15px;
    transform: rotate(25deg);
    top: 8%;
    left: -200px;
}
.rect-left-2 {
    height: 600px;
    width: 90%;
    border-radius: 15px;
    transform: rotate(25deg);
    top: 50%;
    left: -200px;
}
.rect-right {
    height: 600px;
    width: 90%;
    border-radius: 15px;
    transform: rotate(-25deg);
    top: 30%;
    right: -200px;
}
.circle-left {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    top: 50%;
    left: -200px;
}
.circle-right {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    top: 30%;
    right: -200px;
}
.circle-right-2 {
    height: 1000px;
    width: 1000px;
    border-radius: 100%;
    top: 70%;
    right: -200px;
}
/*
.hex-right {
    height: 800px;
    width: 800px;
    top: 30%;
    right: -200px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
*/


/* partnerships ======================

.bg--partnerships-love {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/assets/img/jaxx-support-welcome-redux.jpg) center;
    background-size: cover;
}

/* team ======================*/

.bg--team-banner {
     background: url(/assets/img/jaxx-3-people-stairs-prog.jpg) center;
     background: url(/assets/img/jaxx-phone-hand-car.jpg) center;
    background-size: cover;
}
.bg--team-2014 {
     background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://cointelegraph.com/storage/uploads/view/c6d74a6da5659a65c31fb4fa3177b84b.jpg) center;
    background-size: cover;
}
.bg--team-jaxx {
    background: url(/assets/img/jaxx-screen-medley.png) center;
    background: url(/assets/img/jaxx-laptop-hands.jpg) center;
    background-size: cover;
/*    filter: drop-shadow(16px 16px 10px lightgrey);*/
}
.bg--team-office {
    background: url(/assets/img/jaxx-three-people-selfie.jpg) center;
    background-size: cover;
}

/* contact ======================*/

.bg--contact-banner {
    background: url(https://images.unsplash.com/photo-1450609283058-0ec52fa7eac4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center top;
    background-size: cover;
}
.bg--contact-support {
    background: url(/assets/img/jaxx-support-banner-redux.jpg) center;
    background-size: cover;
}
.bg--support-heart-hands {
    background: url(/assets/img/jaxx-support-welcome-redux.jpg) center;
    background-size: cover;
}


/*community json blog API data --> columns */

.columns--blog {
    column-count: 4;
    column-gap: 30px;
    column-rule: 1px dotted lightgrey;
    padding: 20px 20px 0;
}
.columns--blog img {
    width: 100%;
    height: auto;
}
.columns--blog h2:first-of-type {
    margin: 0 0 10px;
}
.columns--blog h2 {
    border-top: 1px dotted lightgrey;
/*    border-bottom: 1px dotted lightgrey;*/
    color: #ff6902;
    margin: 20px 0 20px;
    padding: 20px 0 10px;
}
.columns--blog h3,
.columns--blog h4,
.columns--blog h5 {
    border-top: 1px dotted lightgrey;
    border-bottom: 1px dotted lightgrey;
    padding: 20px 0;
    margin: 0 0 20px;
}
.columns--blog p::first-line {
    color: darkgrey;
    font-style: italic;
    font-weight: 900;
}

.blog-button-container hr {
    display: none;
}


/* nav ======================*/

nav,
.navbar {
	background: rgba(0,0,0,0.9);
/*	background: transparent;*/
/*	border-bottom: 1px solid lightgrey;*/
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
    padding: 1.5rem 1rem;
    padding: 1rem;
}

/* mobile menu line animation */
.wrapper-menu {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}

.wrapper-menu.open {
  transform: rotate(-45deg);  
}

.line-menu {
  background-color: #fff;
  background-color: #ff6902;
  background-color: linear-gradient(to right, #f5af19, #f12711);
  border-radius: 5px;
  width: 100%;
  height: 6px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

/**/

.nav-link,
.nav-item {
	color: #fff;
	font-size: 19px;
	font-weight: 400;
	padding-left: 15px;
	padding-right: 15px;
}
.active {
	color: #ff6902;
}
/* for navbar change color on scroll */


.navbar.scrolled {
	background-color: rgba(0, 0, 0, 0.9) !important;
}
.navbar.fixed-top.scrolled {
	border-bottom: none;
	background-color: rgba(0, 0, 0, 0.9) !important;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.decentral-navbar-brand.scrolled,
.decentral-mobile-menu.scrolled {
	opacity: 1;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 300ms ease-in-out;
}
/* mobile nav toggler rotate on hover */

.jaxx-mobile-menu {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.jaxx-mobile-menu:hover {
	color: white;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*  icons */

.icon {
	font-size: 50px;
}
#swup .fa {
	font-size: 10vmin;
    font-size: 6vmin;
	padding: 30px 20px;
}
#testimonials .fa {
    font-size: 6vmin;
    font-size: 40px;
    padding: 10px 40px 10px 0;
}
.fa--stroke {
    color: transparent;
}
.fa--stroke-g {
	-webkit-text-stroke: 2px grey;
}
.fa--stroke-o {
	-webkit-text-stroke: 2px #ff6902;
}

/*  footer ======================*/

footer li a {
	font-size: 18px;
}
.footer-leaf {
	height: 40px;
}

/* media queries ======================*/


@media (min-width: 1900px) {
    .min-700-lg {
        min-height: 1000px;
    }
    .page-title {
        font-size: 96px;
    }
}

@media (max-width: 1200px) {
    .banner-img {
        height: auto;
        width: 100%;    
    }
	/*    md width class */
	.downloads-img {
		height: auto;
		width: 100%;
	}
    /*features + community column count*/
    .columns {
        column-count: 3;
    }
}

@media (max-width: 992px) {
    /* nav */
	nav,
	.navbar {
		border-bottom: 1px solid transparent;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
	}
	/*  mobile menu */
	.navbar-toggler {
		padding: 0;
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 0;
	}
    .nav-link,
    .nav-item {
        font-weight: bold;
    }
	.nav-link {
		border-top: 1px solid lightgrey;
		padding: 1rem 1rem;
	}
	.nav-link:hover {
		color: #ff6902;
	}
	.page-title {
		font-size: 10vmin;
		letter-spacing: -5px;
	}
    /*banner image alignment center @mobile*/
    .banner-right {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner-left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .img--banner {
        width: 25%;
        height: auto;
    }

/*    features multi device img*/
    .img-multi-platform {
        width: 110%;
    }
    /*features carousel*/
    .device-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
	/* flex order */
	.o-1 {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
	.o-2 {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	.o-3 {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	}
	.o-4 {
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
	}
	.o-12 {
		-webkit-box-ordinal-group: 13;
		-ms-flex-order: 12;
		order: 12;
	}

	/* download buttons reduce size */
	#download .btn-lg {
		font-size: 18px;
		padding: .375rem .75rem;
		padding: 5px 10px;
	}
	.btn-lg {
		font-size: 18px;
		padding: .375rem .75rem;
		padding: 5px 10px;
	}
    /* community + security page titles -- change color to make visible on mobile */
    .white-title {
        color: white;
        text-shadow: 2px 2px 10px #444;
    }
    /* features + community column count*/
    .columns {
        column-count: 2;
    }
}

@media (max-width: 768px) {    
	/* homepage front title */

	.page-title {
		font-size: 10vmin;
		font-weight: 900;
		letter-spacing: -3px;
		line-height: 85%;
	}
    /*   utility class to reduce 100vh on mobile */
    .min--100 {
        min-height: 700px;
    }
}
@media screen and (max-width: 601px) {
    .site-title {
        font-size: 54px;
        font-size: 48px;
        font-size: 13vmin;
    }
    .img--banner {
        width: 50%;
        height: auto;
    }
    .img-multi-platform {
        max-width: 100%;
    }
    p {
        font-size: 19px;
        font-weight: bold;
    }

    .jaxx-mobile-menu {
        height: auto;
        width: 34px;
    }
	.jaxx-logo {
		width: 300px;
	}
	.jaxx-logo-text {
		width: 120px;
	}
	.jaxx-logo-heart {
		width: 100px;
	}
    .page-title {
		font-size: 12vmin;
		font-weight: 900;
		letter-spacing: -3px;
		line-height: 85%;
	}
    .section-title {
        font-size: 36px; /*twitter*/
        font-weight: bold;
        line-height: 100%;
        letter-spacing: -1px;
    }

    /* homepage device carousel */
    .device-wrapper {
        width: 50%;
    }
	/* cookies banner button */
	.cc-btn {
		border-width: 1px;
		width: 100%;
	}
     #main .fa {
        font-size: 8vmin;
        padding: 20px 8px 0;
    }
	/* partner logo resize */
	.partner-logos-laptop {
        width: 100%;
    }
    /*community page coin logos*/
    .coin-logo {
        width: 35%;
    }
    /* features + community page column count*/
    .columns {
        column-count: 1;
    }

	/* flex orders */
	.o-1 {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
	.o-12 {
		-webkit-box-ordinal-group: 13;
		-ms-flex-order: 12;
		order: 12;
	}
	footer p {
		font-size: 14px;
	}
	.footer-leaf {
		height: 35px;
	}
    .min-700-lg {
        min-height: 500px;
    }
    /*downloads page badges*/
    .downloads-badge-container {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
}
/* make features page modal 80% width */

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 80%;
	}
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
	/* 1 */
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " ";
	/* 1 */
	display: table;
	/* 2 */
}
.clearfix:after {
	clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster */
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href)")";
	}
	abbr[title]:after {
		content: " (" attr(title)")";
	}
	/*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}
	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}